* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr ;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    grid-column: span 5;
}

header {
    grid-column: span 5;
    display: grid;
    grid-template: auto / 2fr 3fr;
}

img {
    width: 100%;
    height: auto;
}

main {
    grid-column: span 4;
}

aside {
    grid-column: span 1;
}

section {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr ;
    gap: 16px;
    margin-top: 16px;
}

.pad {
    padding: 16px;
}

.bg-red {
    background: #d40920;
    color:#ffffff

}

.bg-blue {
    background: #1356a2;
    color: #ffffff
}

.bg-yellow {
    background: #f7d842
    color: #111111;}

.bg-white {
    background: #ffffff;
    color: #111111;
}

footer {
    grid-column: span 5;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

p {
    margin-bottom: 8px;
}

.frame {
    border: 6px solid #111111;
}